<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2 class="form-title">Lista de todos los Usuarios</h2>
<div class="panel panel-default">
    <div class="panel-heading">Usuarios</div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="usuario in usuarios | orderBy: 'id'">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.direccion}}</td>
            <td>
                <button class="btn btn-warning" ng-click="editUsuario(usuario.id)">Editar</button>
                <button class="btn btn-danger" ng-click="deleteUsuario(usuario.id)">Eliminar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
